Repository altanborali16/SWE574-Group2, pull requests merged in 2024-12, with the labels that each got.

#175 Feature/feridun 153
  DevComReborn API 2.postman_collection.json
  devcomReborn/src/main/java/swe574/backend/devcomReborn/Comment/Comment.java
  devcomReborn/src/main/java/swe574/backend/devcomReborn/community/CommunityController.java
  devcomReborn/src/main/java/swe574/backend/devcomReborn/community/CommunityRepository.java
  devcomReborn/src/main/java/swe574/backend/devcomReborn/community/CommunityService.java
  devcomReborn/src/main/java/swe574/backend/devcomReborn/community/dto/MemberRoleAssignmentDTO.java
  devcomReborn/src/main/java/swe574/backend/devcomReborn/config/AppConfig.java
  devcomReborn/src/main/java/swe574/backend/devcomReborn/post/Post.java
  devcomReborn/src/main/java/swe574/backend/devcomReborn/post/PostController.java
  devcomReborn/src/main/java/swe574/backend/devcomReborn/post/PostService.java
  devcomReborn/src/main/java/swe574/backend/devcomReborn/template/Template.java
  devcomReborn/src/main/resources/application.properties
  frontend/src/Components/Forms/CreatePostForm.jsx
  frontend/src/Components/Inputs/AdvancedSearch.jsx
  frontend/src/Helpers/HttpClient.js
  frontend/src/Pages/CommunityPage.jsx
  frontend/src/Pages/ProfilePage.jsx
  frontend/src/Pages/SharedComponents/PostList.jsx
  frontend/src/Pages/SharedComponents/PostListForFeed.jsx
  frontend/src/Styles/AdvancedSearch.css
  frontend/src/Styles/CommunitiesPage.css
  frontend/src/Styles/CommunityPage.css
  frontend/src/Styles/CreateTemplateForm.css
  frontend/src/Styles/PostView.css
  frontend/src/Styles/ProfilePage.css
  frontend/src/assets/5.png
  frontend/src/assets/anniversary.png
  frontend/src/assets/comment.png
  frontend/src/assets/creativity.png
  frontend/src/assets/first-prize.png
  frontend/src/assets/leader.png
  frontend/src/assets/leadership.png
  frontend/src/assets/like.png
  frontend/src/assets/number.png
  frontend/src/assets/role-model.png
  frontend/src/assets/team.png
  frontend/src/assets/writer.png
Labels: bug, Component : backend, Component : api, Status : done

#176 #154 #153 fix community leave endpoint and add private archive functi…
  devcomReborn/src/main/java/swe574/backend/devcomReborn/community/Community.java
  devcomReborn/src/main/java/swe574/backend/devcomReborn/community/CommunityRepository.java
  devcomReborn/src/main/java/swe574/backend/devcomReborn/community/CommunityService.java
  devcomReborn/src/main/java/swe574/backend/devcomReborn/post/PostService.java
  devcomReborn/src/main/resources/application.properties
Labels: bug, Priority : Critical, Component : backend, Component : api, Status : done

#185 private community fix on fe
  frontend/src/Pages/CommunityPage.jsx
  frontend/src/Pages/CreateCommunityPage.jsx
  frontend/src/Pages/SharedComponents/CommunityList.jsx
  frontend/src/Pages/SharedComponents/CommunityListOld.jsx
  frontend/src/Pages/SharedComponents/PostList.jsx
Labels: Component : frontend

#188 signed and unsigned values
  frontend/src/Components/Forms/CreatePostForm.jsx
  frontend/src/Components/Forms/CreateTemplateForm.jsx
Labels: Component : frontend

#192 number fields added on advanced search
  frontend/src/Components/Forms/AdvancedSearchForm.jsx
  frontend/src/Pages/Functions/SearchFunctions/TemplateSearch.jsx
Labels: Component : frontend

#195 Css improvement on post,community and search pages
  frontend/src/Components/Forms/AdvancedSearchForm.jsx
  frontend/src/Components/Inputs/AdvancedSearch.jsx
  frontend/src/Pages/CommunityPage.jsx
  frontend/src/Styles/AdvancedSearch.css
  frontend/src/Styles/CommunitiesPage.css
  frontend/src/Styles/CommunityPage.css
  frontend/src/Styles/PostView.css
Labels: Component : frontend

#198 Feature/aliser 197 implement advanced search fe
  frontend/src/Pages/Functions/SearchFunctions/BasicSearch.jsx
  frontend/src/Pages/Functions/SearchFunctions/MemberSearch.jsx
  frontend/src/Pages/Functions/SearchFunctions/SearchEngine.jsx
  frontend/src/Styles/CreatePostFrom.css
Labels: Component : frontend

#200 selenium ide testing files
  frontend/TestFolder/SWE574-fe-Testing.side
  frontend/TestFolder/Tests Imange.PNG
Labels: Component : frontend
